<!DOCTYPE html>
<html lang="en">
<head>
  <title>SMGsite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <header>
    <div id="headerContainer">
      <div class="row">
        <div class="span5 offset1">
          <a href="/"><h1>Save My Glass</h1></a>
          <h2>Safer driving, zero effort.</h2>
        </div>
        <div class="span6">
          <ul class="headerLinks">
            <li><%= link_to "What it does", home_index_path %></li>
            <li><%= link_to "How it Works", how_index_path %></li>
            <li><%= link_to "Why we're doing it", why_index_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div id="body">
    <%= yield %>
  </div>

  <p id="copy">
    Copyright &copy; 2013 Save My Glass, All Rights Reserved.
  </p>
</div>

</body>
</html>